<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
        ">
	<mvc:resources location="/static/" mapping="/static/**"/>
	<context:component-scan base-package="com.zdf.controller" />
	<mvc:annotation-driven />
	<!-- 将静态文静指定到某个特定的文件夹中统一处理 -->
	
	<mvc:default-servlet-handler/>
	
	<!--配置变量注入 -->
	<!-- <bean id="cmsPropertyConfigurer"
		class="com.zdf.component.CustomizedProperty">
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="locations">
			<list>
				<value>classpath:env/manager-config.properties</value>
			</list>
		</property>
	</bean> -->


	<bean id="velocityConfigurer"
		class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
		<property name="resourceLoaderPath">
			<value>/WEB-INF/vm/</value><!-- 页面文件路径相对于webapp -->
		</property>
		<property name="velocityProperties">
			<props>
				<prop key="input.encoding">UTF-8</prop>
				<prop key="output.encoding">UTF-8</prop>
				<prop key="contentType">text/html;charset=UTF-8</prop>
				<!-- <prop key="eventhandler.referenceinsertion.class">
					com.zdf.tools.VelocityEscapeHtml
				</prop> -->
			</props>
		</property>
	</bean>

	<!-- velocity视图解析器 -->
	<bean id="velocityViewResover"
		class="org.springframework.web.servlet.view.velocity.VelocityLayoutViewResolver">
		<property name="exposeRequestAttributes" value="true" />
		<property name="cache" value="false" />
		<property name="layoutUrl" value="/layout/default.vm" />
		<property name="prefix" value="" />
		<property name="suffix" value=".vm" />
		<property name="exposeSpringMacroHelpers" value="true" />
		<property name="contentType" value="text/html;charset=UTF-8" />
		<property name="toolboxConfigLocation" value="/WEB-INF/tools.xml" />
		<property name="viewClass" value="org.springframework.web.servlet.view.velocity.VelocityLayoutView" />
	</bean>
	
	<!-- 
	<bean id="controllerInterceptor" class="com.carme.carmanager.interceptor.ControllerInterceptor" />

	<aop:config>
		<aop:pointcut id="controllerOperation"
			expression="execution(* com.carme.carmanager.controller..*.*(..))" />
		<aop:advisor advice-ref="controllerInterceptor"
			pointcut-ref="controllerOperation" />
	</aop:config>
	-->
	<mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/spider/**"/>
            <bean class="com.zdf.interceptor.ValidateInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
	
</beans>